* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#header {
  width: 100%;
  height: 50px;
  background: #ec1e37;
  position: fixed;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.container {
  width: 1170px;
  margin: auto;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-size: 30px;
  color: white;
  font-weight: 600;
  line-height: 50px;
}

#menu-links {
  list-style: none;
}

.menu-link {
  text-transform: uppercase;
  line-height: 50px;
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-weight: 600;
}

#content {
  padding-top: 90px;
}

#banner-1 {
  width: 100%;
  background: linear-gradient(135deg, #ea322a 40%, #ac2222 60%);
  padding: 20px;
  color: white;
  border-radius: 20px;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}

#slider {
  display: flex;
  justify-content: space-between;
}

#slider-1,
#slider-1 img {
  width: 845px;
  height: 400px;
  border-radius: 20px;
}

#paket {
  height: 400px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paket-item {
  height: 45%;
  padding: 30px 15px;
}

.paket-premium {
  background: url("./images/indihouse/mini-banner-1-raw.png") no-repeat;
  background-size: contain;
}

.paket-gamer {
  background: url("./images/indihouse/mini-banner-2-raw.png") no-repeat;
  background-size: contain;
}

.paket-item p {
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}

.paket-item button {
  padding: 10px 20px;
  background: #ec1e37;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
}
