* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#header {
  width: 100%;
  height: 50px;
  background: #ec1e37;
  position: fixed;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.container {
  width: 1170px;
  margin: auto;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-size: 30px;
  color: white;
  font-weight: 600;
  line-height: 50px;
}

#menu-links {
  list-style: none;
}

.menu-link {
  text-transform: uppercase;
  line-height: 50px;
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-weight: 600;
}

#content {
  padding-top: 90px;
}

#banner-1 {
  width: 100%;
  background: linear-gradient(135deg, #ea322a 40%, #ac2222 60%);
  padding: 20px;
  color: white;
  border-radius: 20px;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}

#slider {
  display: flex;
  justify-content: space-between;
}

#slider-1,
#slider-1 img {
  width: 845px;
  height: 400px;
  border-radius: 20px;
}

#paket {
  height: 400px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paket-item {
  height: 45%;
  padding: 30px 15px;
}

.paket-premium {
  background: url("./images/indihouse/mini-banner-1-raw.png") no-repeat;
  background-size: contain;
}

.paket-gamer {
  background: url("./images/indihouse/mini-banner-2-raw.png") no-repeat;
  background-size: contain;
}

.paket-item p {
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}

.paket-item button {
  padding: 10px 20px;
  background: #ec1e37;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

#add-on-unggulan {
  width: 100%;
  margin-bottom: 30px;
}

#add-on-unggulan h3 {
  margin: 30px 0px;
}

#slider-2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.slider-2-item {
  width: 230px;
  height: 187px;
  border-radius: 20px;
  border: 1px solid rgb(230, 224, 224);
  margin: 0px 10px;
}

.slider-2-item img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.slider-2-text {
  width: 100%;
  padding: 10px 20px;
  font-weight: bold;
}

.slider-2-text span {
  float: right;
  color: #ec1e37;
  cursor: pointer;
}

.slider-2-text span:hover {
  text-decoration: underline;
  color: lightgray;
}

#content-2 {
  width: 100%;
  background: #121528;
  padding: 30px 0px;
}

#content-2-top {
  text-align: center;
}

#content-2-top h2 {
  color: white;
  margin-bottom: 10px;
}

#nav-content2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 25px;
  line-height: 10px;
}

.nav-content2-item img {
  cursor: pointer;
}

#slider-3 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
}

.slider-3-item {
  color: white;
}

.slider-3-item img {
  width: 240px;
  height: 322px;
  border-radius: 10px;
}

.slider-3-item h3 {
  margin: 20px 10px;
}

.slider-3-item p {
  margin-left: 10px;
  font-weight: bold;
}
